@import "../../sass/variables.scss";
@import "../../sass/commons.scss";

.container04 {
  padding: 4rem 0;
  width: 100vw;
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    color: $color-primary;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
    .description-product {
      color: $color-primary;
      width: 40vw;
      font-size: 1.85rem;

      span {
        color: #8A2BE2;
        font-weight: bold;
      }

      
    }

    img {
      width: 28rem;
    }
  }
}

@media (max-width: 450px) {
  .product-apresentation{
    gap: 2rem !important
  }

  .description-product {
    width: 80vw !important;
    margin-bottom: 4rem;
  }
}

@media (max-width: 330px) {
  .description-product {
    font-size: 1.2rem !important;
  }
} 